-
  var members = [
    {
      img: './images/team-1.png',
      name: 'Tadii Tendayi',
      position: 'Founder & CEO',
      socials: [
        {
          link: 'https://www.linkedin.com/in/tadiitendayi/',
          icon: 'icon-linkedin',
        },
        {
          link: 'https://twitter.com/bitflexjack',
          icon: 'icon-twitter',
        },
      ],
      about: 'An adaptable and customer-oriented cryptopreneur who shares the Celo vision that values people and changing lives. Founder of BitFlex FinTech and a core contributor of Bankless Africa.'
    },
    {
      img: './images/team-2.png',
      name: 'Patrick Norton',
      position: 'Co-Founder',
      socials: [
        {
          link: 'https://www.linkedin.com/in/patrick-norton-16440b35/',
          icon: 'icon-linkedin',
        }
      ],
      about: 'A crypto enthusiast with a passion for pets, humanity and the blockchain ecosystem.'
    },
  ];

section.section.team
  div.container
    h2.section-title.team-title
      span.primary-text-fill Team
    p.team-subtitle The c-BLOCK Team combines passions from, Blockchain, Humanitarian Aid, Sports, industry expertise & a proven record in Finance, Marketing & Licensing.

    ul.team-members
      each member in members
        li.team-member
          div.team-member--photo
            img(src=member.img)
          h3.team-member--name
            span.primary-text-fill= member.name
          span.team-member--position= member.position
          ul.team-member--social
            each social in member.socials
              li.team-member--social-item
                a(href=social.link target="_blank" class="team-member--social-link")
                  i(class=social.icon)
          p.team-member--about= member.about


